<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Infrastructure.Properties.Settings.MinistopManagementConnectionString"
            connectionString="Data Source=DESKTOP-3M1QM2P;Initial Catalog=MinistopManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Infrastructure.Properties.Settings.MinistopManagementConnectionString1"
            connectionString="Data Source=LATI7480\SQLEXPRESS;Initial Catalog=MinistopManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Infrastructure.Properties.Settings.MinistopManagementConnectionString2"
            connectionString="Data Source=DESKTOP-3M1QM2P;Initial Catalog=MinistopManagement;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Infrastructure.Properties.Settings.MinistopManagementConnectionString3"
            connectionString="Data Source=DESKTOP-3M1QM2P;Initial Catalog=MinistopManagement;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Infrastructure.Properties.Settings.MinistopManagementConnectionString4"
            connectionString="Data Source=LATI7480\SQLEXPRESS;Initial Catalog=MinistopManagement;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Infrastructure.Properties.Settings.MinistopManagementConnectionString5"
            connectionString="Data Source=LAPTOP-2LEA9U48\SQLEXPRESS;Initial Catalog=MinistopManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>